@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .paperTexture {
        background-image: url('/paperTexture.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
    }

    ::-webkit-scrollbar {
        width: 0.7rem;
        padding-left: 0.5rem;
    }
    ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.5);
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 99999px;
    }
}
